<!DOCTYPE html>
<html lang="en">
<head>
    <title>自动化平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% set title='AutoTest.' %}
{% include "nav.html" %}


    <div class="overlay">
    </div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <div class="text">
                    <h2>Httprunner</h2>
                    <h4 class="mb-5">自动化平台</h4>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>