<!doctype html>
<html>
<head>
    <title>httprunner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">

</head>
<body>
{% set title='用例管理.' %}
{% include "nav.html" %}

    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <div class="text">

                        <h4 class="mb-5">选择测试集合删除：</h4>
                        <form method="post" action="{{ path }}/api_del_success">
                            <select name="sel_cases" id="sel_cases" class="btn btn-dark px-5 py-4 mb-2">
                                {% for case in cases %}
                                    <option> {{ case }} </option>
                                {% endfor %}
                            </select>
                            <input type="submit" name="btn" value="删除测试集合" class="btn btn-dark px-5 py-4 mb-2">
                        </form>

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
