<!doctype html>
<html>
<head>
    <title>httprunner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/style.css') }}">

</head>
<body>

{% set title='用例管理.' %}
{% include "nav.html" %}

    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <div class="text">

                    <a href="{{ path }}/api_add" class="btn btn-dark px-5 py-4 mb-2">测试用例上传</a></p>
                    <a href="{{ path }}/api_del" class="btn btn-dark px-5 py-4 mb-2">测试用例删除</a></p>

                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
